@using TestingVuejs.Models
@model TestingVuejs.Models.Pessoa



<body>
    <div id="app">
        <div class="header">
            <h1>Funcionarios</h1>
            <button v-if="state === 'default'" class="btn btn-primary" v-on:click="mudarEstado('edit')">Adicionar Item</button>
            <button v-else="state === 'edit'" class="btn btn-danger" v-on:click="mudarEstado('default')">Cancelar</button>
        </div>
        <div v-if="state === 'edit'" class="add-item-form">
            <input type="text" v-model="novoItem" placeholder="Adicione uma disciplina:" v-on:keyup.enter="salvarItem" />
            <button class="btn btn-primary" v-bind:disabled="novoItem.length === 0" v-on:click="salvarItem">Salvar</button>
        </div>
        <ul>
            <li v-for="item in inverteItens" :class="{strikeout: item.Velho}" v-on:click="tornarVelho(item)">{{item.Nome}}</li>
        </ul>
        <p v-if="items.length === 0">Não há itens na lista!</p>
    </div>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script>
        var Vue = new Vue({
            el: "#app",
            data: {
                teste: "Aula de Vue.js",
                novoItem: "",
                state: "default",
                items: [
                    {
                        Nome: "Roberto Ehlert",
                        Velho: false,
                        Prioridade: true,
                    },
                    {
                        Nome: "Ogushi Desuka ",
                        Velho: true,
                        Prioridade: true,
                    },
                    {
                        Nome: "Andre Jiraya Nippon ",
                        Velho: false,
                        Prioridade: false,
                    },
                ]
            },
            computed: {
                inverteItens() {
                    return this.items.reverse();
                }
            },        

            methods: {
                salvarItem: function (novoItem) {
                    this.items.push({
                        Nome: this.novoItem,
                        Velho: false,
                        Prioridade: false,
                    });
                    this.novoItem = '';
                },
                mudarEstado: function (estado) {
                    this.state = estado;
                },
                tornarVelho: function (item) {
                    item.Velho = !item.Velho;
                }
            }
            })
    </script>
</body>

